@media (max-width: 825px) {
	.navbar .main-logo-contain{
		width: 100%;
	}
	.navbar .main-logo{
		margin: 0px auto;
		padding: 2em 0px;
	}
	.navbar nav .navbar-nav-item{
		flex: 1;
		margin: 0px;
	}
	.hero-img{
		max-height: 242px;
	}
	.hero-img img{
		transform: translateY(0%);
	}
	.tagline p{
		max-width: 80vw;
	}
	.page .page-content> p,
	.page .page-content ul,
	.page .page-content article{
	max-width: 95vw;
	}
	.page .page-content .partners .partners-imgs{
		max-width: 95vw;
	}
	.contact .input {
        display: block;
        width: 95%;
        float: none;
    }
    .contact .input:nth-of-type(odd) {
        margin-right: 0;
    }
    .contact label {
        padding-top: 10px;
    }
    .contact label:first-of-type {
        padding-top: 0;
    }
	footer{
		justify-content: center;
	}
}