root:{

/*launch Colours*/
--launch-violet: #3A397B;
--launch-voilet-light:#5957B2;
--launch-voilet-dark:#272754;
--launch-blue: #00AACF;
--launch-blue-light:#70E5FF;
--launch-blue-dark:#00758F;

/*Launch Monochrome Colours*/
--launch-grey-1:#D7D5D6;
--launch-grey-2:#B2AFB2;
--launch-grey-3:#908D91;
--launch-grey-4:#716F73;
--launch-grey-5:#55565A;
}

/*selection styles*/

::-moz-selection {
    background: #212121;
    /* WebKit/Blink Browsers */
    color: var(--launch-blue, #00AACF);
}

::selection {
    background: #212121;
    /* WebKit/Blink Browsers */
    color: var(--launch-blue, #00AACF);
}

::-moz-selection {
    background: #212121;
    /* Gecko Browsers */
    color: var(--launch-blue, #00AACF);
}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}
body{
	color: #212121;
	background-color: #fff;
  min-height: 100vh;
}
a{
	color: var(--launch-blue, #00AACF);
	text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.btn {
    margin: 1rem;
    display: inline;
    padding: 15px 30px;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 3px;
    -webkit-transition: 200ms;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.navbar{
  /*height: 100px;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.02);
}
.navbar .main-logo{
min-height: 25px;
/* max-width: 300px; */
max-height: 64px;
padding: 2rem;
display: block;
}
.navbar nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  margin-right: 1rem;
}
.navbar nav .navbar-nav-item{
 padding:1rem;
text-align: center;
transition: 300ms;
margin: 0px 5px;
border: 1px solid #fff;
border-radius: 3px;
}
.navbar nav .navbar-nav-item:hover,
.navbar nav .navbar-nav-item:focus{
  border-color: var(--launch-violet, #3A397B) !important;
  color: var(--launch-violet, #3A397B);
}
.navbar nav .navbar-nav-item.active{
  border-color: var(--launch-blue, #00AACF);
  background-color: var(--launch-blue, #00AACF);
  color: #fff;
}

.blur-up {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  transition: filter 600ms, -webkit-filter 600ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.hero-img-container{
  background: var(--launch-violet, #3A397B);
  background: -moz-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--launch-violet, #3A397B)), color-stop(40%, var(--launch-violet, #3A397B)), color-stop(100%, var(--launch-blue, #00AACF)));
  background: -webkit-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -o-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -ms-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  position: relative;
}
.hero-img-container:after{
  background: var(--launch-violet, #3A397B);
  background: -moz-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--launch-violet, #3A397B)), color-stop(40%, var(--launch-violet, #3A397B)), color-stop(100%, var(--launch-blue, #00AACF)));
  background: -webkit-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -o-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -ms-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  opacity: 0.4;
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
.hero-img-container .hero-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  transform: translateY(-20%);
}
.hero-img-logo{
position: absolute;
    right: 5%;
    top: 36%;
    bottom: -25%;
    width: 450px;
    z-index: 1;
}
.tagline{
  background: var(--launch-violet, #3A397B);
  background: -moz-linear-gradient(left, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--launch-violet, #3A397B)), color-stop(15%, var(--launch-violet, #3A397B)), color-stop(100%, var(--launch-blue, #00AACF)));
  background: -webkit-linear-gradient(left, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
  background: -o-linear-gradient(left, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
  background: -ms-linear-gradient(left, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
  background: linear-gradient(to right, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
  width: 100%;
  text-align: center;
  padding: 4rem 0rem;
  color: #fff;
  font-size: 1.2rem;
}
.tagline p{
  max-width: 60vw;
  text-align: center;
  margin: 0px auto;
}
.page{
  /*padding-bottom: 5rem;*/
}
.page .page-content{
    width: 100vw;
    padding: 5rem 0rem;
    font-size: 1.3rem;
    /*box-shadow: inset 0 0 20px black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.page .page-content> p,
.page .page-content ul,
.page .page-content article{
  max-width: 45vw;
  /*margin: 0rem auto 1rem auto;*/
  font-size: 1.3rem;
}
.page .page-content a{
  word-break: break-word;
}
.page .page-content .page-title{
  text-align: center;
  margin: 0rem auto 1rem auto;
  font-size: 2rem;
}
.page .page-content iframe,
.page .page-content .twitter-tweet,
.page .page-content .twitter-timeline{
  display: block !important;
  max-width: 90%;
  margin: 1rem auto;
}
.page .page-content .partners{
  text-align: center;
  width: 100%;
}
.page .page-content .partners .partners-imgs{
  max-width: 70%;
  margin: 0rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page .page-content .partners .partners-imgs a:hover,
.page .page-content .partners .partners-imgs a:focus{
    /*box-shadow: 0px 5px 0px 0px var(--launch-violet, #3A397B);*/
    border-bottom: 5px solid var(--launch-violet, #3A397B);
    border-image: linear-gradient(to right, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 15%, var(--launch-blue, #00AACF) 100%);
}
.page .page-content .partners .partners-imgs img{
  max-width: 200px;
  height: auto;
  padding: 1rem;
}
.team-members{
  text-align: center;
}
.team-members > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-items: stretch;
    align-items: stretch;
    max-width: 80vw;
}
.team-members > div .team-member{
 padding: 1rem;
 box-shadow: 0px 0px 9px 0px var(--launch-violet, #3A397B);
  min-height: 400px;
 border-radius: 30px;
}
.team-members > div .team-member img{
  max-width: 100px;
  border: 5px solid var(--launch-blue, #00AACF);
  border-radius: 50%;
  margin: 1rem auto;
  display: block;
}
.team-members > div .team-member .name,
.team-members > div .team-member .role{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.team-members > div .team-member .role{
  color: var(--launch-blue, #00AACF);
}
.team-members > div .team-member .fa{
  font-size: 1.7rem;
  margin: 1px 1rem;
}
.testimonials{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23acacac' fill-opacity='0.31' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");  width: 100vw;
text-align: center;
padding: 2.1rem 0px;
margin: 2rem 0px;
}
.testimonials article{
  max-width: 100% !important;
  min-height: 400px;
  width: 100vw;
}
.testimonials article p{
  max-width: 50%;
  margin: 1rem auto;
}
.testimonials article img{
  max-height: 150px;
  border: 5px solid var(--launch-blue, #00AACF);
  border-radius: 50%;
}
.funding-sources{
    width: 60vw;
    padding: 1rem;
    text-align: center;
    margin: 2rem auto;
    border-radius: 3px;
}
/*.funding-sources div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}*/
.funding-sources div img{
  /*max-width: 150px;*/
  max-height: 120px;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
}
.supports{
    text-align: center;
    margin: 2rem auto;
}
.supports > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 2rem;
    justify-content: center;  
/*    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    width: 80vw;
}
.supports .support{
 padding: 1rem;
 box-shadow: 0px 0px 9px 0px var(--launch-violet, #3A397B);
/* max-width: 400px !important;
 margin-bottom: 2rem;*/
 border-radius: 30px;
}
.supports .support h3{
  margin-bottom: 0.5rem;
}
.supports .support .img-icon{
    background-color: var(--launch-blue, #00AACF);
    border-radius: 50%;
    margin: 0px auto;
    padding: 0.5rem;
    max-width: 50px;
    display: block;
}
.supports .support .img-icon img{
    max-width: 40px;
    margin-top: 6px; 
}
.supports .support .fa{
/*  background-color: var(--launch-blue, #00AACF);
  border-radius: 50%;
  color: #fff;
  margin: 1rem auto;
  display: block;
  max-width: 70px;*/
}
.supports .support .fa-circle{
  color: var(--launch-blue, #00AACF);
}
.contact .contact-form {
    max-width: 80vw;
    margin: auto;
}

.contact .input {
    width: calc(95% /2 - 16px);
    float: left;
}

.contact .input:nth-of-type(odd) {
    margin-right: 6%;
}

.contact .message {
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}

.contact .input input {
    display: block;
    width: 95%;
    background: rgba(0, 170, 207, 0.5);
    border: 5px solid rgba(255,255,255,0.5);
    padding: 10px 5px;
}

.contact .message textarea {
    display: block;
    width: 95%;
    height: 200px;
    background: rgba(0, 170, 207, 0.5);
    border: 5px solid rgba(255,255,255,0.5);
    padding: 10px 5px;
    resize: vertical;
}

.contact label {
    position: relative;
    z-index: 10;
}

.contact label span {
    display: block;
    text-align: left;
    font-size: 14px;
}

.contact label span .fa {
    margin-right: 7px;
}

.contact .submit {
    display: block;
    text-align: center;
    padding-top: 40px;
}

.contact h3 {
    margin-bottom: 40px;
}

.err-page{
  max-width: 60vw;
  min-height: 60vh;
  text-align: center;
  margin: 5rem auto;
}
.err-page > .fa{
  font-size: 4.5rem;
}
.policy{
  max-width: 60vw;
  margin: 5rem auto;
}
.to-top{
  background-color: var(--launch-blue, #00AACF);
  left: 85%;
  bottom: -5px;
  position: relative;
  border-radius: 50% 50% 0% 0%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.to-top:hover,
.to-top:focus{
  background-color: #212121;
}
footer{
  background: var(--launch-violet, #3A397B);
  background: -moz-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--launch-violet, #3A397B)), color-stop(40%, var(--launch-violet, #3A397B)), color-stop(100%, var(--launch-blue, #00AACF)));
  background: -webkit-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -o-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: -ms-linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  background: linear-gradient(45deg, var(--launch-violet, #3A397B) 0%, var(--launch-violet, #3A397B) 40%, var(--launch-blue, #00AACF) 100%);
  /*height: 25vh;*/
  color: #fff;
  padding: 1rem 0px;
  font-size: 1rem;
}
footer .column-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 80vw;
  margin: 0px auto;
}
footer .column{
  padding: 0px 2rem;
}
footer .column article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .column ul{
  list-style: none;
  padding: 0px;
}
footer .column a{
  color: #fff;
  word-break: break-word;
}
footer .column a .fa,
footer .column h3{
  font-size: 1.4rem;
  text-align: center;
  margin: 1rem;
}