
<div id="definition">
	<article>
		<p><b><span>Launch<sup>1</sup></span></b> <i>vb</i> 1 to move (<span>a vessel</span>) into the water, esp. for the first time. <b>2 a</b> <span>to start off</span> or set in motion: <i>to launch an appeal.</i> b to put (<span>a new product on the market.</span>) <b>3</b> to set (a rocket, missile, or spacecraft) into motion. 4 involve (oneself) totally and enthusiastically: <i>Francis <span>launched himself</span> into the transfer market with gusto.</i> <b>5 launch into</b> to start talking or writing. <b>6</b> (usually foll. by <i>out</i>) to start (out) on a <span>new enterprise.</span> > <b>7</b><span> an act or instance of launching. </span>[Late Latin <i>lanceare</i> to use a lance, hence, to set in motion] <b>launcher</b><b> n </b></p>
		<p><b>Launch<sup>2</sup></b><b> n </b>a <span>motor driven boat.</span>
		[Malay <i>lancharan</i> boat, from <i>lanchar</i> speed]</p>
	</article>
</div>