<a class="to-top" onclick="window.scrollTo(0, 0);">
	<i class="fa fa-fw fa-angle-up" aria-hidden="true"></i>
</a>
<footer>
	<section class="column-container">
		<div class="column">
			<article>
			<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i>
			</article>
	</a>
		</div>
		<div class="column">
			<ul>
			<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			<li><a href="{{ site.url}}/privacy-policy">Privacy Policy</a></li>
			<li>&copy; Launch International, 2017, (09242469) </li>
			</ul>
		</div>
	</section>
</footer>