<section class="funding-sources">
	<p>Here are a few examples of the finding sources we use.</p>
	<div class="main-carousel" data-flickity='{ "cellAlign": "center",
												 "contain": "true",
												 "wrapAround": "true", 
												 "autoPlay": "true", 
												 "pageDots": false }'>
		{% for image in site.static_files %}
		    {% if image.path contains '/imgs/funding-sources' %}
		        <img class="carousel-cell" src="{{ site.url }}{{ image.path }}" alt="Funding source" />
		    {% endif %}
		{% endfor %}
	</div>
</section>