<section class="funding-sources">
	<p>Here are a few examples of the finding sources we use.</p>
	<div>
		<img data-src="{{ site.url }}/imgs/funding-sources/innovate-uk-logo.png" class="lazyload">
		<img data-src="{{ site.url }}/imgs/funding-sources/research-councils.jpg" class="lazyload">
		<img data-src="{{ site.url }}/imgs/funding-sources/em3-logo.png" class="lazyload">
		<img data-src="{{ site.url }}/imgs/funding-sources/carbon-trust.jpg" class="lazyload">
		<img data-src="{{ site.url }}/imgs/funding-sources/eu.png" class="lazyload">
	</div>
</section>