<section class="partners">
<h2>Our Partners</h2>
<!-- Make into slider/carousel? -->
<div class="partners-imgs">
  <a href="https://www.businesssouth.org"><img data-src="{{ site.url }}/imgs/partners/Business_South.png" class="lazyload"></a>
  <a href="http://www.kn-i.com/"><img data-src="{{ site.url }}/imgs/partners/knownow.png" class="lazyload"></a>
  <a href="https://www.menzies.co.uk/"><img data-src="{{ site.url }}/imgs/partners/menzies.png" class="lazyload"></a>
  <a href="https://www.portsmouth.gov.uk/home.aspx"><img data-src="{{ site.url }}/imgs/partners/PCC-Logo.jpg" class="lazyload"></a>
</div>
</section>