<section class="team-members">
<!-- 	<h2>Meet the team</h2> -->

	{% for entry in site.data.team %}
	<div class="team-member">
	 	<article>
		<h3 class="name">{{ entry.name }}</h3>
		 <img src="{{ site.url }}/imgs/team/{{ entry.avatar }}">
		 <p class="role">{{ entry.role }}</p>
		 <p class="bio">{{ entry.bio }}</p>
		 {% if entry.twitter %}
			 <a href="https://twitter.com/{{ entry.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		 {% endif %}
		</article>
	 </div>
	 {% endfor %}


</section>