---
layout: default
---

<div class="page">
  <section class="hero-img-container">
    {% if page.title == "Blog" %}
    {% elsif page.title == "Contact"%}
    {% elsif page.title == "404 Page not found"%}
    {% elsif page.title == "Launch"%}
      <img src="{{ site.url }}/imgs/hero-imgs-smol/{{ page.title }}.jpg" data-src="{{ site.url }}/imgs/hero-imgs/{{ page.title }}.jpg" class="hero-img lazyload blur-up">
      <img class="hero-img-logo lazyload" data-src="{{ site.url }}/imgs/logo/launch-violet.png">
    {% else %} 
    	<img src="{{ site.url }}/imgs/hero-imgs-smol/{{ page.title }}.jpg" data-src="{{ site.url }}/imgs/hero-imgs/{{ page.title }}.jpg" class="hero-img lazyload blur-up">
    {% endif %}
  </section>
  <section class="tagline">
  	<p>{{ site.description }}</p>
  </section>
  <section class="page-content">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  {% include partners.html %}
  </section>
</div>