---
layout: default
---

<div class="page">
  <section class="hero-img">
  	<img src="{{ site.url }}/imgs/hero-imgs/{{ page.title }}.jpg">
  </section>
  <section class="tagline">
  	{{ site.description }}
  </section>
  <h1 class="page-title">{{ page.title }}</h1>
  <section class="page-content">
  {{ content }}
  </section>
  <section class="partners">
  	<h3>Our Partners</h3>
  	<div class="partners-imgs">
	  	<img src="{{ site.url }}/imgs/partners/Business_South.png">
	  	<img src="{{ site.url }}/imgs/partners/knownow.png">
	  	<img src="{{ site.url }}/imgs/partners/menzies.png">
	  	<img src="{{ site.url }}/imgs/partners/PCC-Logo.jpg">
  	</div>
  </section>
</div>