@media (max-width: 600px){
    body{
    }
    section{
        padding: 6em 0.1em; 
    }
    .splash img{
      max-width: 97%; 
    }
    .social:after{
    width: 120%;
    height: 300px;
    top: 50%; right: 0; bottom: 0; left: -10%;
    } 
    .partners:after{
    width: 120%;
    height: 300px;
    top: 50%; right: 0; bottom: 0; left: -10%;
    }
	.contact h2{
        font-size: 1.5em;
    }
    .contact .input{
        display: block;
        width: 100%;
        float: none;
    }
    .contact .input:nth-of-type(odd){
        margin-right: 0;
    }
    .contact label{
        padding-top: 10px;
    }
    .contact label:first-of-type{
        padding-top: 0;
    }
}
@media (max-width: 800px){
    body{
    }
}