/*selection styles*/

::selection {
    background: #212121;
    /* WebKit/Blink Browsers */
    
    color: #00a9cf;
}
::-moz-selection {
    background: #212121;
    /* Gecko Browsers */
    
    color: #00a9cf;
}
body {
    color: #212121;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /*fallback*/
    
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}
h1,
h2,
h3,
p {
    position: relative;
}
h2 {
    font-size: 2.5em;
}
a {
    color: #3a397b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    padding: 6em 1em;
    margin: 0 auto;
}
section h2 + p:first-of-type {
    font-size: 1.25em;
}

header{
    background: #222;
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 200;
}

header .logo>h1{
    float: left;
    font-family: 'Roboto', sans-serif;
    color: #1EA6B3;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    display: inline-block;
}
header .logo-img{
    float: left;
    max-height: 25px;
    /*max-width: 35px;*/
    margin-top: 10px;
    margin-right: 20px;
}

header nav{
    float: right;
}

.menuItems {
padding: 0;
 margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}
.menuItems * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menuItems li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}
.menuItems a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.menuItems a:before,
.menuItems a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #1EA6B3;
  width: 0;
}
.menuItems a:before {
  top: 0;
  right: 0;
}
.menuItems a:after {
  bottom: 0;
  left: 0;
}
.menuItems a:hover,
.menuItems .current a {
  color: #ffffff;
}
.menuItems a:hover:before,
.menuItems .current a:before,
.menuItems a:hover:after,
.menuItems .current a:after {
  width: 100%;
}

header .toggle-menu{
    display: none;
}

.splash {
	max-height: 85vh;
    background: #3a397b;
    background: -moz-linear-gradient(45deg, #3a397b 0%, #3a397b 15%, #00a9cf 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #3a397b), color-stop(15%, #3a397b), color-stop(100%, #00a9cf));
    background: -webkit-linear-gradient(45deg, #3a397b 0%, #3a397b 15%, #00a9cf 100%);
    background: -o-linear-gradient(45deg, #3a397b 0%, #3a397b 15%, #00a9cf 100%);
    background: -ms-linear-gradient(45deg, #3a397b 0%, #3a397b 15%, #00a9cf 100%);
    background: linear-gradient(45deg, #3a397b 0%, #3a397b 15%, #00a9cf 100%);
}
.splash img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}
.splash div {
    display: flex;
    justify-content: center;
}
.btn {
    font-size: 1.5em;
    margin: 50px 0 0 0;
    display: inline;
    padding: 15px 30px;
    color: #fff;
    border: 1px solid #fff;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
}
.btn:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}
article {
    max-width: 1400px;
    margin: 0em auto;
}
.about {
/*        background-color: #E6E6E6;
    background: url('../images/building.jpg') no-repeat right center ,
         linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0.9), rgba(255,255,255,0.1)); 
    background-size: 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: soft-light;
    position: relative;
    overflow: hidden;*/
}
.about h2 {
    text-align: center;
}
.about .caption {
    color: #00a9cf;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 3em;
}
.about img {
    position: absolute;
    top: 100px;
    right: 55%;
    /* float: right;
    max-width: 33vw;
    padding-left: 10px;*/
}
.about p {
    font-size: 1.2em;
    max-width: 85vw;
    margin: 0 auto;
}
.people {
    background: #00a9cf;
    position: relative;
    overflow: hidden;
    z-index: 2;
    text-align: center;
}
.people:after {
    width: 120%;
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    right: -40px;
    bottom: -40px;
    left: -40px;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(30deg);
    z-index: -1;
}
.people div {
    margin-top: 20px;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.people .person {
    max-width: 400px;
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    transition: 200ms;
    -webkit-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}
.person .person-caption {
    margin: 0;
    float: right;
    max-height: 200px;
    /*font-size: 16px;*/
}
.person .name,
.role,
.quote {
    width: 100%;
    margin: 0;
}
.person .person-avatar {
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
    -webkit-filter: grayscale(100%) brightness(100s%) contrast(100%);
    filter: grayscale(100%) brightness(100%) contrast(100%);
    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
}
.person:hover .person-avatar {
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0px 0px 23px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 23px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 23px 6px rgba(0, 0, 0, 0.3);
}
.social {
    /*width: 100%;*/
    
    display: flex;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.social:after {
    width: 120%;
    height: 1000px;
    content: "";
    display: block;
    position: absolute;
    top: 500px;
    right: 0;
    bottom: 0;
    left: -100px;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(10deg);
    z-index: -1;
}
.social div {
    margin: 2em auto;
    min-width: 400px;
    max-width: 40vw;
    /*-webkit-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.73);
    box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.73);*/
}
.social .twitter {

} 
.partners {
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.partners:after {
    width: 120%;
    height: 700px;
    content: "";
    display: block;
    position: absolute;
    top: -500px;
    right: 0;
    bottom: 0;
    left: -100px;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(-10deg);
    z-index: -1;
}
.partners div {
    margin-top: 20px;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.partner {
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #eee;
    transition: 200ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 2px 20px -6px rgba(0, 0, 0, 0.6);
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.partner:hover {
    -webkit-box-shadow: 0px 0px 65px 6px rgba(0,169,207,0.59);
    -moz-box-shadow: 0px 0px 65px 6px rgba(0,169,207,0.59);
    box-shadow: 0px 0px 65px 6px rgba(0,169,207,0.59);
}
.partner img{
    max-width: 85%;
    transition: all .2s ease-in-out;
}
.partner:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.contact {
    background: #00a9cf;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10vh;
    z-index: 2;
}
.contact:after {
    width: 120%;
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    right: -40px;
    bottom: -40px;
    left: -40px;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-30deg);
    z-index: -1;
}
.contact .contact-form {
    max-width: 80vw;
    margin: auto;
}
.contact .input {
    width: 47%;
    float: left;
}
.contact .input:nth-of-type(odd) {
    margin-right: 6%;
}
.contact .message {
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}
.contact .input input {
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    padding: 10px 15px;
}
.contact .message textarea {
    display: block;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    padding: 10px 15px;
    resize: vertical;
}
.contact label {
    position: relative;
    z-index: 10;
}
.contact label span {
    display: block;
    text-align: left;
    font-size: 14px;
}
.contact label span .fa {
    margin-right: 7px;
}
.contact .submit {
    display: block;
    text-align: center;
    padding-top: 40px;
}
.contact h3 {
    margin-bottom: 40px;
}